@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    src: url(../fonts/SeoulHangangCondensed-Bold.ttf);
    font-family: SeoulHangangCondensed-Bold;
}

@font-face {
    src: url(../fonts/SeoulHangangCondensed-BoldL.ttf);
    font-family: SeoulHangangCondensed-BoldL;
}


/*-------------------------------Navbar------------------------------*/

.navbar {
    padding-bottom: 0;
}

.header-logo {
    width: 210px;
    height: 210px;
    margin-top: 10px;
    margin-left: -20px;
}

.nav-item {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: SeoulHangangCondensed-BoldL;
    color: rgb(245, 245, 245);
    padding: 8px 8px 8px 44px;
    font-size: 150%;
}

#nav-home {
    padding-left:  0px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(245, 245, 245)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color:rgb(245, 245, 245);
}

.navbar-list-container {
    margin-bottom: 90px;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .navbar-list-container {
        margin-bottom: 0px;
        margin-right: 0px;
    }
}



/*------------------Background picture and images------------------------*/

header {
    background: transparent !important;
    background-color: transparent !important;
}


html, body {
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*-------------------------------Section------------------------------*/

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #8f8f8f;
}

.text-gray {
    color: #a1a1a1;
}

.text-lite-gray {
    color: #cccccc;
}

.text-orange {
    color: rgba(245,119,3,1);
}

.text-white {
    color: #F5F5F5;
}

.site-heading {
    letter-spacing: 2px;
    text-align: center;
    color: #F5F5F5;
    font-family: SeoulHangangCondensed-Bold;
}

.site-heading h1 {
    font-size: 5.5rem;
}

@media (max-width: 376px) {
    .site-heading h1 {
        font-size: 2.5rem;
    }
    .subheading {
        font-size: 1.5rem !important;
        padding: 2px 10px 0px 10px !important;
    }
}

.subheading {
    line-height: 1.2;
    display: block;
    margin: 10px 0 0;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    color: #F5F5F5;
    font-family: SeoulHangangCondensed-Bold;
    padding: 2px 50px 0px 50px;
}

.container-frame {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.right-container-frame {
    background: rgba(0, 0, 0, 0.541);
    height: fit-content;
    max-width: 74%!important;
    margin-left: 10px;
}

.page-info {
    font-family: SeoulHangangCondensed-Bold;
    position: relative;
    width: inherit;
    text-align: center;
    color: rgb(245, 241, 241);
}

.page-info p {
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.left-container-frame {
    background: rgba(0, 0, 0, 0.541);
    height: fit-content;
}

.head-logo-one {
    padding-top: 25px;
    max-width: 100%;
}

.parallax-img-contact,
.parallax-img-gallery,
.parallax-img-about,
.parallax-img-training,
.parallax-img-home {
    /*height: 50rem !important;*/
    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#parallax {
    padding-bottom: 0px;
}

/*-------------------------------About------------------------------*/

.parallax-img-about {
    background: linear-gradient(180deg, rgba(15,101,54,0.6031454818255427) 35%, rgba(245,119,3,0.4995040252429097) 80%), url(../images/about-header-img.jpg);
    padding-bottom: 290px;
}

.content-container {
    background-color: rgb(53 46 41 / 91%);
}

.site-content {
    padding: 3rem;
    letter-spacing: 2px;
    text-align: center;
    color: #F5F5F5;
    font-family: SeoulHangangCondensed-BoldL;
}

.site-content h2 {
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

@media (max-width: 376px) {
    .site-content h2 {
        font-size: 2.5rem;
    }
    .site-content {
        padding: 1.1rem;
    }
}

.sub-content {
    letter-spacing: 2px;
    text-align: center;
    color: #F5F5F5;
    font-family: SeoulHangangCondensed-Bold;
    font-size: 1.5rem;
}

.site-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(.90);
    border-radius: 5px;
    /*
    max-width: 100%;
    height: auto;
    */
}

.site-img-div {
    height: 100%;
    width: 100%;
    padding: 3rem;
}

/*-------------------------------Contact------------------------------*/


.parallax-img-contact {
    background: linear-gradient(180deg, rgba(15,101,54,0.6031454818255427) 35%, rgba(245,119,3,0.4995040252429097) 80%), url(../images/contact-header-img.jpg);
    padding-bottom: 290px;
}

/*-------------------------------Home/Index------------------------------*/

.parallax-img-home {
    background: linear-gradient(180deg, rgba(15,101,54,0.6031454818255427) 35%, rgba(245,119,3,0.4995040252429097) 80%), url(../images/home-header-img.jpg);
    padding-bottom: 290px;
}

/*-------------------------------Gallery------------------------------*/

.parallax-img-gallery {
    background: linear-gradient(180deg, rgba(15,101,54,0.6031454818255427) 35%, rgba(245,119,3,0.4995040252429097) 80%), url(../images/gallery-header-img.jpg);
    padding-bottom: 290px;
}

/*-------------------------------Training------------------------------*/

.parallax-img-training {
    background: linear-gradient(180deg, rgba(15,101,54,0.6031454818255427) 35%, rgba(245,119,3,0.4995040252429097) 80%), url(../images/training-header-img.jpg);
    padding-bottom: 290px;
}


/*------------------Map------------------------*/

.map-container {
    min-width: 200px;
  width: 83%;
  min-height: 200px;
  height: 80%;
  border-radius: 13px;
  margin: auto;
}

/*
#map {
    min-height: 200px;
}
*/


/*------------------Footer------------------------*/

#footer {
    background: #F5F5F5;
    position: relative;
    height: fit-content;
    clear: both;
    text-align: center;
    padding-top: 20px;   
}

.footer-container {
    background: rgba(237, 237, 237, 0.767);
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .social-links:hover {
    color: rgb(236, 236, 236);
  }

  .social-links-ul {
      margin-top: 20px;
      margin-bottom: 0;
  }

  .btn-group-lg>.btn, .btn-lg {
    margin-top: 15px;
    padding: .5rem 1rem;
    font-size: 2.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}