{% extends "base.html" %}

{% block headerContent %}
    <div class="parallax-img-about"> 
        {% include 'SW-Navbar.html' %}
        <div id="container">
            <div class="row no-gutters">
                <div class="col-lg-11 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>About us and our history</h1>
                        <span class="subheading">Lorem ipsum dolor sit amet consectetur
                            Consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua.
                                Consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="parallax" class="parallax-img-about">
        <div class="row no-gutters content-container">
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="row no-gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto content-uper-left-container">
                        <div class="site-content">
                            <h2>Our head coach</h2>
                            <span class="sub-content">
                            <p>  Gustaf Cedermalm
                                from Scandinavia.
                            </p>
                            <p>
                                Bare Knuckle Champion 2019.
                            </p>
                            <p>
                                Has more than 20 years experience 
                                with over 100 fights in Boxing,
                                Muay Thai and Bare Knuckle Boxing.
                            </p>
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto content-uper-right-container">
                        <div class="site-img-div">
                            <img class="site-img" src="../sunsetWarriors/static/images/headmaster-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 mx-auto">
                <div class="row no-gutters">
                    <div class="d-none d-xl-block d-lg-block d-md-block col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto content-lower-left-container">
                        <div class="site-img-div">
                            <img class="site-img" src="../sunsetWarriors/static/images/trainer-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto content-lower-right-container">
                        <div class="site-content">
                            <h2>Our trainers</h2>
                            <span class="sub-content">
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                                <p>
                                    Consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua.
                                </p>
                                <p>
                                    Laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </span>
                        </div>
                    </div>
                    <div class="d-xl-none d-lg-none d-md-none col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto content-lower-left-container">
                        <div class="site-img-div">
                            <img class="site-img" src="../static/images/trainer-img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}