<header>
    <nav class="navbar navbar-expand-md navbar-dark">
        <a href="{{url_for('sunsetWarriors.home')}}"><img class="header-logo" src="../static/images/sunset-wariors-logo.png" alt=""></a>
        <button class=" d-lg-none d-xl-none navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-list-container" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="nav-home" class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sunsetWarriors.training')}}">Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sunsetWarriors.about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sunsetWarriors.gallery')}}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sunsetWarriors.contact')}}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>