@font-face {
    src: url(../fonts/SeoulHangangCondensed-Bold.ttf);
    font-family: 'SeoulHangangCondensed-Bold';
}

@font-face {
    src: url(../fonts/SeoulHangangCondensed-BoldL.ttf);
    font-family: 'SeoulHangangCondensed-BoldL';
}

$font-SeoulHangang-Bold: 'SeoulHangangCondensed-Bold';
$font-SeoulHangang-BoldL: 'SeoulHangangCondensed-BoldL';

header {
    background: transparent !important;
    background-color: transparent !important;
        
}

#container {
    min-height: 100%;
}

.site-heading {
    letter-spacing: 2px;
    text-align: center;
    color: #F5F5F5;
    font-family: $font-SeoulHangang-Bold;
}

.site-heading h1 {
    font-size: 5.5rem;
}

@media (max-width: 376px) {
    .site-heading h1 {
        font-size: 2.5rem;
    }
    .subheading {
        font-size: 1.5rem !important;
        padding: 2px 10px 0px 10px !important;
    }
}

.subheading {
    line-height: 1.2;
    display: block;
    margin: 10px 0 0;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    color: #F5F5F5;
    font-family: $font-SeoulHangang-Bold;
    padding: 2px 50px 0px 50px;
}