{% extends "base.html" %}

{% block headerContent %}
    <div class="parallax-img-about"> 
        {% include 'navbar.html' %}
        <div id="container">
            <div class="row no-gutters">
                <div class="col-lg-11 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>About us and our history</h1>
                        <span class="subheading">Lorem ipsum dolor sit amet consectetur</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="main">
            <div class="row no-gutters">
                <div class="col-12">
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}