<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google foonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Satisfy&display=swap" rel="stylesheet">

    <!-- JavaScript -->
    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- CSS / Sass -->
    {% assets "main_css" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}


    <title>Sunset Warriors Fightgym</title>
</head>
<body>
    
    <!-- Page header content starts here -->
    <div>
        {% block headerContent %}

        {% endblock %}
    </div>
    <!-- Page header content ends here -->

    <!-- Page content starts here -->
    {% block content %}

    {% endblock %}
    <!-- Page content ends here -->

    <footer class="font-small pt-4">
        <div class="container text-center text-md-center">
            <div class="row text-center text-md-center mt-3 pb-3">
                <div class="col-md-3 col-lg-3 ml-lg-0">
                    <div class="text-center">
                        <img src="../static/images/sunset-wariors-logo.png" width="200" height="200" alt="">
                        <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" class="btn-floating mx-1 social-links text-lite-gray" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" class="btn-floating mx-1 social-links text-lite-gray" target="_blank">
                            <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-orange">Contact</h5>
                    <p class="text-lite-gray">Sunset Warriors Gustaf Cedermalm</p>
                    <p class="text-lite-gray">Sunset Beach Koh Rong Samloem, Kambodja</p>
                    <p class="text-lite-gray">sunsetwarriors@gmail.com</p>
                    <p class="text-lite-gray">+ 855 (0) 886166484</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-orange">Collaborators</h5>
                    <p class="text-lite-gray">
                        <p class="text-lite-gray">Sunset Adventures.</p>
                        <p class="text-lite-gray">Robinson Bungalows.</p>
                        <p class="text-lite-gray">Askari Fighter.</p>
                    </p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-orange">Find us</h5>
                    <div id="map" class="map-container"></div>
                </div>
            </div>
        
            <hr class="w-100">
            <div id="copyright-container" class="row d-flex">
                <div class="col-md-8 col-lg-8">
                    <p class="text-gray">© 2020 Copyright:Sunset Warriors Fightgym by: Timmy Bergkvist</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/4fdc8c1c9c.js"></script>

    <!-- Google maps API -->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDds1UHHflQU2Ad2rc3rmIP3DVvZBAKOe0&callback=initMap"></script>

</body>
</html>