{% extends "base.html" %}

{% block headerContent %}
    <div class="parallax-img-index"> 
        <div id="container">
            <div class="row no-gutters">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Welcome to sunset beach</h1>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-lg-12 col-md-12 mx-auto">
                            <div class="row no-gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
                                    <div class="site-content">
                                        <a href="{{url_for('sunsetWariorrs.home')}}"><img class="header-logo" src="../static/images/sunset-wariors-logo.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto">
                                    <div class="site-content">
                                        <a href="{{url_for('sunsetAdventures.home')}}"><img class="header-logo" src="../static/images/adventures-logo-img.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}