<header>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('sunsetWarriors.home')}}"><img src="../static/images/sunset-wariors-logo.png" alt="" class="header-logo d-inline-block align-top"></a>

            <div class="navbar-menu d-none d-md-block d-lg-block d-xl-block text-right">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a id="nav-home" class="nav-link" href="{{url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sunsetWarriors.training')}}">Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sunsetWarriors.about')}}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sunsetWarriors.gallery')}}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sunsetWarriors.contact')}}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="hamburger-btn d-md-none d-lg-none d-xl-none">
                <input type="checkbox" class="toggler" onclick="toggleNav()">
                <div class="hamburger">
                    <div></div>
                </div>
                <div id="sidenav" class="sidenav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a id="nav-home" class="nav-link" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sunsetWarriors.training')}}">Training</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sunsetWarriors.about')}}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sunsetWarriors.gallery')}}">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('sunsetWarriors.contact')}}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>